/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
.form-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border-radius: 8px;
  padding-top: 36px;
  padding-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
}
.form-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.btn-submit:hover,
.btn-submit:focus {
  background: #6c8cff;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.gallery {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 108px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 260px;
  border: 1px solid #808080;
  border-radius: 8px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: fill;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image-details {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 3%;
}

.activities {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.details {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #ff3d00, 24px 0 #fff;
  }
  66% {
    background: #ff3d00;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #ff3d00;
  }
}
